/* #region Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
/* #endregion Reset */

/* #region Typography */
h2{
    display: inline-block;
}
/* #endregion Typography */

/* #region MS Utilities */
.ms-container{
    padding: 0;
}
header{
    position: sticky;
    max-height: 65px;
    background-color: #f8f9fa;
}
header .row{
    background-color: white;
}
aside nav{
    height: 100%;
}
main{
    height: calc(100vh - 65px);
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
}
.ms-search-bar{
    background-color: #e5e5e5;
    padding: 5px 10px;
    border-radius: 5px;
}
.ms-search-bar-input{
    background-color: #e5e5e5;
    border: none;
}
.ms-item-header{
    color: #5b5858;
}
.ms-item-aside{
    color: white;
}
.students .text-bg-primary{
    background-color: #165bba !important;
}
.ms-badge{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #165bba
}
.ms-plus{
    font-size: 8px;
}
.card >.ms-list-group{
    border-top: none;
}
.ms-dropdown{
    z-index: 1; 
}
.ms-offcanvas{
    width: 50vw !important;
}
.ms-50-colspan{
    width: 50%;
}
/* #endregion MS Utilities */

/* #region General */
img{
    max-width: 100%;
}
aside{
    background-color: #051e34;
    background-image: url(./img/sidebar-bg.png);
}
.dropdown i{
    cursor: pointer
}
/* #endregion General */

/* #region Header */
header{
    z-index: 99;
}
.ms-mobile-logo{
    height: 40px;
}
.fa-bell{
    color: #ff8f00;
}
/* #endregion Header */

/* #region Students */
.students{
    background-color: #1b72e8;
}
.square-border{
    padding: 10px;
    max-height: 35px;
    max-width: 35px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.students-nmbr{
    font-size: 26px;
}
/* #endregion Students */

/* #region Info */
main{
    background-color: #f8f9fa;
}
.card-title{
    background-color: #f7f7f7;
    padding: 5px 15px 12px;
    border-bottom: 1px solid #cbcbcb;
    margin: 0 -1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.avatar-class{
    height: 30px;
    background-color: white;
}
.ms-item-table{
    color: #6c757d;
    height: 29px;
    width: 29px;
    border: 1px solid #6c757d;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
/* #endregion Info */

/* #region MS Media Query */
@media screen and (max-width: 576px){
    .ms-d-sm{
        display: none;
    }
    .ms-offcanvas{
        width: 100vw !important;
    }
}
@media screen and (max-width: 992px){
    .ms-offcanvas{
        width: 100vw !important;
    }
}
/* #endregion MS Media Query */

