/* #region Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
/* #endregion Reset */

/* #region Typography */
h2{
    display: inline-block;
}
/* #endregion Typography */

/* #region MS Utilities */
.ms-container{
    padding: 0;
}
header{
    position: sticky;
    max-height: 65px;
    background-color: #f8f9fa;
}
header .row{
    background-color: white;
}
aside nav{
    height: 100%;
}
main{
    height: calc(100vh - 65px);
    overflow-y: scroll;
    width: 100%;
}
.ms-search-bar{
    background-color: #e5e5e5;
    padding: 5px 10px;
    border-radius: 5px;
}
.ms-search-bar-input{
    background-color: #e5e5e5;
    border: none;
}
.ms-item-header{
    color: #5b5858;
}
.ms-item-aside{
    color: white;
}
.students .text-bg-primary{
    background-color: #165bba !important;
}
/* #endregion MS Utilities */

/* #region General */
img{
    max-width: 100%;
}
aside{
    background-color: #051e34;
    background-image: url(./img/sidebar-bg.png);
}
/* #endregion General */

/* #region Header */
.ms-mobile-logo{
    height: 40px;
}
.fa-bell{
    color: #ff8f00;
}
/* #endregion Header */

/* #region Students */
.students{
    background-color: #1b72e8;
}
.square-border{
    padding: 10px;
    max-height: 35px;
    max-width: 35px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.students-nmbr{
    font-size: 26px;
}
.ms-badge{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #165bba
}
.ms-plus{
    font-size: 8px;
}
/* #endregion Students */

