/* #region Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
/* #endregion Reset */

/* #region MS Utilities */
.ms-container{
    padding: 0;
}
header{
    position: sticky;
    max-height: 65px;
    background-color: #f8f9fa;
}
header .row{
    background-color: white;
}
aside nav{
    height: 100%;
}
main{
    height: calc(100vh - 65px);
    overflow-y: scroll;
}
.ms-search-bar{
    background-color: #e5e5e5;
    padding: 5px 10px;
    border-radius: 5px;
}
.ms-search-bar-input{
    background-color: #e5e5e5;
    border: none;
}
.ms-item{
    color: #5b5858;
}
/* #endregion MS Utilities */

/* #region General */
img{
    max-width: 100%;
}
/* #endregion General */

/* #region Header */
.ms-mobile-logo{
    height: 40px;
}
.fa-bell{
    color: #ff8f00;
}
/* #endregion Header */
